.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 0.1%)
}

.card .card-text {
  font-family: Arial, sans-serif;
  color:hsl(0, 0%, 30%);
}

.card {
  border: 2px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  cursor: pointer;
}

.header-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header-ul li {
  list-style: none;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.button {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.student {
  font-family: sans-serif;
  font-size: 1.5em;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
  margin: 5px;
}
.student p {
  margin: 0;
}

.welcome-message {
  font-size: 1.5em;
  background-color: hsl(120, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.login-prompt {
  font-size: 1.5em;
  background-color: hsl(0, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.list-category {
  font-size: 1.5em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: hsl(276, 100%, 50%);
  border-color: hsl(276, 100%, 50%);
}

.list-item li {
  list-style: none;
  font-size: 1.5em;
  color: hsl(0, 0%, 25%);
  text-align: center;
  margin: 0;
}

.list-item li:hover {
  color: hsl(0, 0%, 45%);
  cursor: pointer;
}