.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 0.1%)
}

.card .card-text {
  font-family: Arial, sans-serif;
  color:hsl(0, 0%, 30%);
}

.card {
  border: 2px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  list-style: none;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.props-div {
  border: 2px solid white;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: lightseagreen;
  font-size: 1.5em;
  font-family: sans-serif;
}

.props-title {
  text-decoration: underline;
  text-align: center;
  color: darkolivegreen;
}